//Utils
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';

//Base styles
@import './base/common';
@import './base/reset';
@import './base/conteiner';

//components
@import './components/logo';
@import './components/button';
@import './components/btn';
@import './components/social';
@import './components/modal-form';
@import './components/navigation';
@import './components/card-set';

//layouts
@import './layouts/header';
@import './layouts/hero';
@import './layouts/features';
@import './layouts/work';
@import './layouts/team';
@import './layouts/work';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/portfolio';
