.mobile-button {
  display: inline-flex;
  z-index: 150;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--title-text-color);
  &:hover,
  &:focus{
    color: var(--accent-color);
  }
  @include mq(tablet) {
    display: none;
  }
  &__icon{
    color: currentColor;
  }
  &__icon-close{
    display: none;
  }
}
.mobile-menu.is-open .mobile-button__icon-menu{
  display: none;
}
.mobile-menu.is-open .mobile-button__icon-close{
  display: block;
}
