// Плавный скролинг по секции
html{
    scroll-behavior: smooth;
}


body {
  height: 100%;
  width: 100%;
  background-color: var(--page-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}