:root {
  --accent-color: rgba(33, 150, 243, 1);

  --logo-accent-color:rgba(33, 150, 243, 1);
  --bgc-hero: rgba(47, 48, 58, 1);
  --work-label: rgba(255, 255, 255, 1);
  --bgc-footer: rgba(47, 48, 58, 1);
  
  --footer-text:rgba(255, 255, 255, 1);
  --footer-contact-color: rgba(255, 255, 255, 0.6);

  --primery-text-color: rgba(117, 117, 117, 1);
  --secondary-text-color:rgba(255, 255, 255, 1);

  
  --bgc-hero-footer: rgba(47, 48, 58, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  
  
  --hero-color: rgba(255, 255, 255, 1);
  --button-portfolio: rgba(245, 244, 250, 1);
  --page-color: #ffffff;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}