.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--bgc-footer);
}
.footer__conteiner {
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  @include mq(desktop) {
    display: flex;
    align-items: baseline;
  }
}
.footer__logo-text {
  color: var(--footer-logo-text);
}
.logo--footer {
  margin-bottom: 20px;
}
.footer__adress-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  @include mq(tablet-only) {
    margin-bottom: 60px;
    flex-basis: 50%;
  }
  @include mq(desktop) {
    text-align: start;
    margin: 0 70px 0 0;
  }
}
.footer__address {
  color: var(--footer-text);
}
.footer__contacts {
  color: var(--footer-contact-color);
  font-weight: 400;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__join {
  color: var(--footer-text);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social__icon-item--footer-color {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--footer-text);

  transition: background-color 250ms var(--cubic-bezier);
}
.footer__social {
  text-align: center;
  margin-bottom: 60px;
  @include mq(tablet-only) {
    flex-basis: 50%;
    margin-bottom: 0;
  }
  @include mq(desktop) {
    margin-bottom: 0;
  }
}
.footer__subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(tablet-only) {
    flex-basis: 100%;
    margin: 0;
  }
  @include mq(desktop) {
    display: block;
    margin-left: auto;
  }
}
.footer__subscription-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--footer-text);
}

.footer__subscription-form {
  @include mq(not-desktop) {
    width: 100%;
    max-width: 450px;
  }
  @include mq(tablet-only) {
    width: 100%;
  }
  @include mq(desktop) {
    display: flex;
    justify-content: end;
  }
}

.footer__subscription-mail {
  height: 50px;
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--footer-text);
  @include mq(desktop) {
    min-width: 358px;
  }
}

.footer__subscription-button {
  display: flex;
  @include mq(desktop) {
    margin-left: 12px;
  }
}
.footer__subscription-latter {
  margin-left: 10px;
}
