.card-set__product-thumb {
  position: relative;
  overflow: hidden;
}
.card-set__overlay {
  display: block;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms var(--cubic-bezier);
  opacity: 0;
}

.card-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-set__text {
  font-size: 16px;
  line-height: 2;
}
.card-set__text-box {
  padding: 20px 24px;
}
