.team {
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
}
.team__list {
  display: flex;
  justify-content: flex-start;
}
.team__item {
  background-color: #fff;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__text-card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
